<!DOCTYPE html>
<html>

    <head>
        <title>Bakers Does It</title>
    </head>

    <body>
        <h1></h1>
        <div>
            Bakerys <br />
            <strong>{{ boldmessage }}</strong><br />
        </div>
        <div>
            <a href="/">Home Page</a><br />
            <a href="/bakery/login/">login Page</a><br />
            <a href="/bakery/login/myaccount/">My Account Page</a><br />
            <a href="/bakery/login/myquestions/">My Questions Page</a><br />
            <a href="/bakery/signup/">signup Page</a><br />
            <a href="/bakery/post/">post Page</a><br />
            <a href="/bakery/search/">search Page</a><br />
            <a href="/bakery/search/question/">question Page</a><br />
            <a href="/bakery/search/question/comment/">comment Page</a><br />
            <a href="/bakery/contact/">Contact Page</a><br />
        </div>
    </body>   
</html>
