<!DOCTYPE html>

{% load staticfiles %}

<html>

    <head>
        <title>Bakers Does It</title>

        <link rel="stylesheet" href="{% static 'css/base.css' %}" />
        <script src="{% static 'js/jquery.js' &}"></script>"
    </head>

    <body>
        <h1></h1>
        <div>
            Bakerys <br />
            <strong>{{ boldmessage }}</strong><br />
            {% if user.is_authenticated %}
                howdy {{ user.username }}!
            {% else %}
                hey there partner!
            {% endif %}

        </div>   

        <div>
            <li><a href="/">Home Page</a></li>
            <li><a href="{% url 'bakery:login' %}">Login</a></li>
            <li><a href="/bakery/login/myaccount/">My Account Page</a></li>
            <li><a href="/bakery/login/myquestions/">My Questions Page</a></li>
            <li><a href="/bakery/signup/">signup Page</a></li>
            <li><a href="/bakery/post/">post Page</a></li>
            <li><a href="/bakery/search/">search Page</a></li>
            <li><a href="/bakery/search/question/">question Page</a></li>
            <li><a href="/bakery/search/question/comment/">comment Page</a></li>
            <li><a href="/bakery/contact/">Contact Page</a></li>
            <img src='{% static "images/bread.jpg" %}''
                alt="Picture of bread" />
        </div>
    </body>   
</html>
