<!DOCTYPE html>
{% extends 'bakery/base.html' %}
{% load staticfiles %}
{% block title_block %}
Login
{% endblock %}
{% block body_block %}
<h1></h1>
<div>
		<a href="/" style = "position: relative;
			border: 5px solid gray">Home Page</a><br />
		<a href="/bakery/signup/" style = "position: relative;
			left: 1800px; border: 5px solid gray; top: -20px">Sign Up</a><br />
		<h1 style="font-size: 50px; color:gray;  position: relative;
			left: 900px; ">Login </h1>
		<img src="{% static 'images/Bread-Banner.jpg' %}" alt="Banner" style = "position: relative;
			left: -20px;" /> 
		</div>
<form id="login_form" method="post" action="{% url 'bakery:login' %}">
    {% csrf_token %}
    Username: <input type="text" name="username" value="" size="50" />
    <br />
    Password: <input type="password" name="password" value="" size="50" />
    <br />
    <input type="submit" value="submit" />
</form>
		
<div>
    <a href="/bakery/login/myaccount/">My Account Page</a><br />
    <a href="/bakery/login/myquestions/">My Questions Page</a><br />
</div>
{% endblock %}
    

