<!DOCTYPE html>
{% load staticfiles %}
<html>

    <head>
        <title>Bakers Does It</title>
    </head>

    <body>
        <h1></h1>
        <div>
		<a href="/" style = "position: relative;
			border: 5px solid gray">Home Page</a><br />
		<a href="{% url 'bakery:login' %}", style = "position: relative;
			left: 1800px; border: 5px solid gray; top: -20px">Login</a> <br />
			<a href="/bakery/signup/" style = "position: relative;
			left: 1800px; border: 5px solid gray; top: -10px">Sign Up</a><br />
		<h1 style="font-size: 50px; color:gray;  position: relative;
			left: 850px; ">Post Here</h1>
		<img src="{% static 'images/Bread-Banner.jpg' %}" alt="Banner" style = "position: relative;
			left: -20px;" />
            Bakerys <br />
            <strong>{{ boldmessage }}</strong><br />
        </div>
    </body>   
</html>
